/* Reset some default styles */
body,
h1,
p {
  margin: 0;
  padding: 0;
}

/* Basic styling */
body {
  font-family: "Red Hat Display Medium", sans-serif;
  background-color: white;
  width: 100%;
  height: 100vh;
  font-size: 18px;
  line-height: 26px;
}

header {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Style for the logo */
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style for the divider */

.divider {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  padding: 20px;
  margin-left: 50px;
  position: relative;
  top: 20px;
}
.custom-paragraph {
  font-size: 18px;
  line-height: 26px;
  color: #87879d; /* Text color */
  padding: 30px 0;
  display: flex;
}

.divider-part {
  text-align: center;
  padding: 10px;
  margin-left: -55px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CSS for buttons */
.button {
  padding: 10px 0;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
  border-radius: 29px;
  width: 193px;
}

.button-download {
  background-color: #4d96a9;
  color: #fff;
  transition: background-color 0.3s;
  font-weight: 600;
}
/* Apply styles to the <span> element within the button */
.button span {
  font-size: 16px;
  color: #8fe3f9;
  padding-left: 5px;
}

.button-what-is-it {
  background-color: #855fb1;
  color: #fff;
  width: 139px;
  transition: background-color 0.3s;
  font-weight: 600;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

/* Hover styles */
.button-download:hover {
  background-color: #8fe3f9;
}

.button-what-is-it:hover {
  background-color: #d9b8ff;
}

/* Style for the rectangle */
.rectangle {
  display: flex;
  justify-content: space-between;
  width: 1110px;
  height: 242px;
  margin: 0 auto;
}

/* Style for each rectangle part */
.rectangle-part {
  flex: 1;
  background-color: #f0f0f0;
  border: 10px solid #fff;
  box-sizing: border-box;
  width: 255px;
  height: 242px;
  overflow: hidden;
  border-radius: 25px;
}

/* Style for images inside rectangle parts */
.rectangle-part img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Style for the built text */
.built-text {
  font-family: "Red Hat Display Black", sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  margin-top: 50px;
  color: #4d96a9;
  text-align: center;
  font-weight: 700;
  letter-spacing: 4px;
  text-decoration: none;
}

/* Style for the meetings text */
.meetings-text {
  font-family: "Red Hat Display Medium", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  margin-top: 10px;
  color: #333;
  text-align: center;
  font-weight: normal;
  letter-spacing: normal;
  text-decoration: none;
}

/* Style for the meetings title */
.meetings-title {
  font-family: "Red Hat Display Black", sans-serif;
  font-size: 40px;
  line-height: 45px;
  text-transform: none;
  margin-top: 10px;
  color: #333;
  text-align: center;
  font-weight: bold;
  letter-spacing: normal;
  text-decoration: none;
}

/* Style for the features text */
.features-text {
  font-family: "Red Hat Display Medium", sans-serif;
  font-size: 18px;
  line-height: 18px;
  text-transform: none;
  margin-top: 10px;
  color: #87879d;
  text-align: center;
  font-weight: normal;
  letter-spacing: normal;
  text-decoration: none;
}

/* Style for the page title */
.page-title {
  font-family: "Red Hat Display Black", sans-serif;
  font-size: 64px;
  line-height: 64px;
  margin-top: 20px;
  color: #333;
}

/* Style for the meet description */
.meet-description {
  font-family: "Red Hat Display Medium", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #333;
}

.circle-line-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Center the circle */
.circle {
  margin-right: 10px;
  border-radius: 10px;
}

/* Center the line */
.line {
  margin-right: 10px;
}

.footer-background {
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 308px;
  background-image: linear-gradient(
      rgba(143, 227, 249, 0.9),
      rgba(143, 227, 249, 0.9)
    ),
    url("assets/desktop/image-footer.jpg");
  background-size: cover;
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
}

.footer-text-left {
  font-family: "Red Hat Display Black", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  text-transform: none;
  margin-top: 10px;
  margin-right: 100px;
  color: #ffffff;

  letter-spacing: normal;
  text-decoration: none;
}
.footer-text-center {
  font-family: "Red Hat Display Black", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-transform: none;
  margin-top: 10px;
  margin-right: 100px;
  color: #ffffff;
}
.footer-button {
  background-color: #855fb1;
  color: #fff;
  padding: 10px 0;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
  border-radius: 29px;
  width: 193px;
}
/* Footer button style */
.footer-button-style {
  background-color: #855fb1; /* Background color */
  color: #fff; /* Text color */
  transition: background-color 0.3s;
  font-weight: 600;
}

/* Change background color on hover */
.footer-button-style:hover {
  background-color: #d9b8ff; /* Hover background color */
}

/* Apply styles to the <span> element within the footer button */
.footer-button-style span {
  font-size: 16px;
  color: #8fe3f9; /* Span text color */
  padding-left: 5px;
}

.footer-button:hover {
  background-color: #d9b8ff;
}

.lalipop1 {
  width: 50px;
  height: 120px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
.line {
  mix-blend-mode: normal;
  opacity: 0.25;
  border-left: 1px solid #87879d;
  height: 84px;
  margin-left: 28px;
}
.circle {
  box-sizing: border-box;
  background: #fafafa;
  border: 1px solid rgba(135, 135, 157, 0.25);
  border-radius: 29px;
  width: 56px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
}
.no1 {
  text-align: center;
  width: 56px;
  font-family: inherit;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  color: #87879d;
  margin-top: 17px;
}
.mid_side {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
}
/* down */
.Down {
  width: 50px;
  height: 120px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
.line2 {
  mix-blend-mode: normal;
  opacity: 0.25;
  border-left: 1px solid #87879d;
  height: 84px;
  margin-left: 28px;
}
.circle2 {
  box-sizing: border-box;
  background: #fafafa;
  border: 1px solid rgba(135, 135, 157, 0.25);
  border-radius: 29px;
  width: 56px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}
.no2 {
  text-align: center;
  width: 56px;
  font-family: inherit;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  color: #87879d;
  margin-top: 17px;
  position: absolute;
}
.mid_side {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
}

/* Logo centering within media query */
@media only screen and (max-width: 768px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Adjust the height as needed */
  }

  /* Remove the absolute positioning for the logo */
  .logo {
    position: static;
    transform: none;
  }
  .divider {
    align-items: center;

    margin-left: 50px;
    position: relative;
    top: -60px;
  }

  /* Media query for screens 768px or less */
  @media only screen and (max-width: 768px) {
    .divider {
      display: flex;
      flex-direction: row;
      margin-top: -100px;
    }

    /* Rearrange the elements */
    .divider-part {
      text-align: center;
      order: 1;
      /* flex-direction: row; */
      max-width: 100%;
      height: 303px; /* Set the height */
      margin: 0 auto; /* Center horizontally */
    }

    .divider-part.content {
      margin-left: -570px;
      padding-top: 400px;

      order: 2;
      margin-top: 70px;
    }

    /* Center and fit the images horizontally */
    .divider-part img {
      max-width: 450px; /* Ensure the image fits the screen width */
      height: 203px;
      display: block;
      justify-content: center;
      margin: 0 auto; /* Center the image horizontally */
    }

    .footer-background {
      flex-direction: column;
      height: 500px;
    }
    .footer-text-left {
      width: 100%;
      /* background: red; */
      margin: 0;
    }
    .footer-text-left p {
      /* margin-top: 10px; */
      text-align: center;
      padding-bottom: 50px;
      /* padding-left: 30px; */
    }
    .footer-text-center {
      text-align: center;
      width: 100%;
    }
    .button {
      /* padding: 10px 0; */
      margin-bottom: 80px;
    }

    .rectangle {
      width: 100%;
      height: 242px;
    }
  }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Adjust the height as needed */
  }
  .logo {
    position: static;
    transform: none;
    margin-top: 48px;
  }
  .divider {
    margin-left: -50px;
    position: relative;
    top: -60px;
  }
  .button-container {
    flex-direction: column;
  }
  .button-what-is-it {
    margin-left: 30px;
    margin-top: -50px;
    /* margin-bottom: 5000px; */
  }
  .lalipop1 {
    margin-top: 150px;
  }
  .rectangle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 300px;
  }
  .rectangle-part {
    width: 190px;
    height: 100;
  }
  .footer-text-center {
    text-align: center;
    margin-bottom: 100px;
    padding-left: 100px;
    width: 350px;
    height: 1px;
  }
  .footer-text-left {
    margin-top: 50px;
    /* margin-bottom: 1px; */
    padding-bottom: -10px;
  }
}
